[submodule "client"]
	path = client
	url = https://github.com/sarahbethfederman/nmdvideowall-client.git

[submodule "kinect_client"]
	path = kinect_client
	url = https://github.com/sarahbethfederman/nmdvideowall-kinect-client.git
